<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container form-container">
    <h2>Página Principal</h2>

    <div class="menu">
        <a class="btn" th:href="@{/login}">Logar</a>

        <a class="btn" th:href="@{/produtoCTR/formCadastrar}">Cadastrar Produto</a>

        <a class="btn" th:href="@{/produtoCTR/listarProdutos}">Listar Produtos</a>

        <a class="btn" th:href="@{/usuarioCTR/formCadastrarUsuario}">Cadastrar Usuário</a>

        <a class="btn" th:href="@{/usuarioCTR/listarUsuarios}">Listar Usuários</a>
    </div>
</div>

</body>
</html>